[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "downscaledl"]
	path = downscaledl
	url = https://github.com/lspatial/downscaledl
	shallow = true
	registered = true
